
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .main{
        display: flex; 
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        font-family: 'Gilroy', sans-serif;
        font-weight: 300;
        font-style: normal;
        background-color: #14162E;
    }
    .innerMain{  
        width: 90%;
        background-color: #14162E;
    
    }
   
    .mainNav{
        width: 100%;
        height: 42px;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
       

    }
    .leftBar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 20%;
        height: 42px;
       
    }
    .rightBar{
        display: flex;
        justify-content: flex-end;
        align-items: center;
       width: 80%;
       

    }

    .bottomContent{
        display: flex;
        width: 100%;
        background-color: #14162E;
        
    }

    .istItem{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        width: 30%;
        background-color: #14162E;


    }
    .secItem{
    display: flex;
    width: 34%;
    flex-direction:column;
    justify-content:center;
    align-self: center;
    background-color: #14162E;
    }

    .thrItem{
display: flex;
width: 34%;
flex-direction: column;
margin-left: 8px;
margin-top: 120px;
justify-content: center;
background-color: #14162E;
align-items: center;


    }
.form{ 
    width: 100%;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    background-color: #14162E;
}

.centr{
    width:5%;
    display: flex;
    background-color: #14162E;

}
.space{
    width: 5%;
    display: flex;
    background-color: #14162E;
}
    .logo{

color: white;
    }

    .log{
        width: 10%;
        height: 42px;
    
        display: flex;
        justify-content: center;
    }
    .lng{
        width: 10%;
        height: 42px;
        display: flex;
        justify-content: center;
       
    }
    
.login2{
    background-color:#14162E;
    border: none;
    color: #4562f2;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.login2::after{
    content:" ";
    display: block;
    height: 2px;
    width: 50%;
    background-color: white;
    position: relative;
    top: 10px;
    cursor: pointer;
    margin-left: 10px;

}

.Language{
    background-color:#14162E;
    border: none;
    font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  color: white;
  
cursor: pointer;
  
}
.reg{
    width: 10%;
    height: 47px;
    background-color: white;
    display: flex;
    border-radius: 12px;
    padding: 8px 18px;
    font-size: 16px;
  font-weight: 700;
    cursor: pointer;
    border-radius: 100px;
    justify-content: center;
}

.register{
    background-color:#ffffff;
    color: #4562f2 ;
    border: none;   
    cursor: pointer;
    font-weight: 600;
    font-family: 'Gilroy', sans-serif;
}
.meetStrangers{
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    color: white;
    

}
.regHere{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 100%;
    margin-top: 77px;
    color: white;
}

.bckColor{
    display: flex;
    width: 20%;
    height: 8vh;
    background: #4461F2;
    filter: blur(358.5px);
    border-radius: 50px;  
     position: absolute;
     top:350px
  
}



.background_icon{
    width: 80%;
}




 .bottom_content{
    display: flex;
    justify-content:space-evenly;    
    flex-direction:row-reverse;

    }

.enterEmail{
    width: 100%;
    border-style: none;
    margin-top: 1px;
    margin-left: 1px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500px;
    text-decoration: #4F555A;
    background-color: #eaf0f7;
  font-size: large;
  font-weight:600;
  font-family: 'Gilroy', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: medium;

}

::placeholder{

    color: black;
    font-weight: 300;
    font-size: 18px;
  font-family: 'Gilroy', sans-serif;

    }

.password{
    width: 100%;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-top: 10px;
    border-style: none;
    background-color: #eaf0f7;
    font-family: 'Gilroy', sans-serif;
    font-weight:300;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    font-size: medium;
   
}

.rec_pass{
    width: 100%;
    color: #bebfbe;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    background-color: #14162E;
    border: none;
    cursor: pointer;
}
.loginBtn{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-mediumslateblue);  
    background-color: #4461f2;  
    color: rgb(255, 255, 255);
    font-family: 'Gilroy-Bold', sans-serif;
    letter-spacing: 2px;
    font-style: normal;
    cursor: pointer;
    margin-top: 18px;
    border-style: none;
    border-color: #bebfbe;

}
.notRegistered{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 53px;
    color: #bebfbe;

}

.notRegistered::before{
    content:" ";
    display: block;
    height: 2px;
    width: 34%;
    top: 50%;
    left: 0;
    background: #DFDFDF;
}
.notRegistered::after{
    content:" ";
    height: 2px;
    width: 34%;
    background: #DFDFDF;
    display: block;
    top: 50%;
    right: 0;
}

.regs_here{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border: none;
    color: white;
    background-color: #14162E;
    
}
.you-can{
    color: white;
    font-size: large;
    font-family: sans-serif;
}
.you{
    color: white;
}
.register_here{
    font-size: medium;
    border: none;
    color: #DCA82A;
    background: none;
    font-weight: bold;
    cursor: pointer;
}
.register_Here2{
    font-size: medium;
    border: none;
    color: #4461f2;
    background: none;
    font-weight: bold;   
    margin-top: 20px;
    color: #DCA82A;
    cursor: pointer;
}

























































