* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Gilroy';
    background-color: #14162E;
}